<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://picsum.photos/id/870/200/300?grayscale&blur=2" alt="casa no campo" srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="#" target="_blank" rel="noopener noreferrer">Nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#" target="_blank" rel="noopener noreferrer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, possimus repellendus.
      In modi harum commodi, ullam impedit quod accusamus? Provident adipisci excepturi praesentium
      aliquid sunt rerum corrupti, minus nobis, reiciendis aut dolore deleniti numquam consequatur quia!
      Fugiat numquam eum voluptate quos quae, a corrupti laudantium officiis at recusandae fugit adipisci?</a>
    </p>
  </div>

</div>
